@import 'bower_components/bourbon/dist/bourbon';
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$almost-black: #1C1616;
$bball-orange: #EC7644;
$pastel-orange: #F69D75;

@import 'rules';
@import 'picks';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  a:active, a:hover {
    color: $bball-orange;
  }
}

body > div {
  min-height: 100%;
  position: relative;
  background: url(/logos-bg.jpg);
}

.mad-march-body {
  padding-bottom: 100px;
}

header {
  min-height: 50px;
  z-index: 1;

  .mm-nav {
    border-radius: 0;
    border-style: none;
    border-bottom: 1px solid #E7E7E7;
    padding: 0 15px;

    .navbar-header img {
      height: 20px;
    }

    li > a, .navbar-header a {
      color: $almost-black !important;
    }

    a:hover, a:active {
      text-decoration: none;
      color: $bball-orange !important;
    }
  }

  .top-padded-nav {
    padding: 15px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 30px 0;
  background-color: #F8F8F8;
  border-top: 1px solid #E7E7E7;
}

.mm-jumbotron {
  margin-top: 50px;
  background: white;
  text-align: center;

  .hero-logo {
    height: 200px;
    margin-bottom: 40px;
  }

  a {
    color: $bball-orange;
  }
}

.teams .region {
  @include display(flex);
  @include justify-content(flex-start);
  @include flex-flow(row wrap);

  .team {
    display: block;
    border: 1px solid #CCC;
    border-radius: 5px;
    background: #FFF;
    padding: 0.25em;
    text-align: center;

    cursor: pointer;
    width: 100px;
    margin: 0.5em;

    &.selected {
      border: 2px solid #000;
      background: #DDD;
    }
  }
}

.center {
  text-align: center;
}

.selected-teams {
  .save-selections {
    font-size: 36px;
    background: lightgreen;
    &.disabled {
      background: #CCC;
    }
  }

  .flex-container {
    @include display(flex);
    @include justify-content(space-around);
    @include flex-flow(row);
  }

  .team {
    display: block;
    cursor: pointer;
    width: 200px;
    height: 150px;
    border: 2px solid #000;
    background: #DDD;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    margin: 1em;

    &.empty {
      cursor: default;
    }
  }
}

.team-logo {
  width:: 150px;
  &.small {
    width: 75px;
  }
  &.medium {
    height: 100px;
  }
  &.tiny {
    width: 20px;
  }
}


.hero {
  text-align: center;
  width: 50%;
  margin: 30px auto;

  h1 {
    font-size: 48px;
  }
}

form {
  .form-input {
    font-size: larger;
    padding: 4px;
  }

  .form-body {
    margin-bottom: 15px;
  }

  .btn.log-in, .btn.sign-up {
    font-size: larger;
    padding: 5px;
  }
}

.serious-words {
  font-weight: bold;
  color: $almost-black;
}
