{{input name="email" value=email}}
{{input name="password" type='password' value=password}}

{{#if error}}
<div class="error">Error: {{error}}</div>
{{/if}}

<button {{action 'login' email password}} class="btn">Log in</button>
