<div class="rules-header">
  <h1>
    <img src='MadMarchRunsNav.png' class='inline-logo' >
    Rules and Regulations
  </h1>
</div>

<div class="row game-rules">
  <div class="col-sm-4 first-panel">
    <div class="game-rules-panel">
      <div class="rules-panel-header">
        <h3><span class='game-num'>Game 1: </span>March Runs</h3>
      </div>

      <div class="rules-section">
        <h4>How To Play</h4>
        Pick 3 teams in the field of 64 that you think will make deep runs.
      </div>
      <div class="rules-section">
        <h4>Scoring</h4>
        1 Point &times; Seed &times; Wins = Team Point Total
        <h5>e.g. if #2 Seed Gonzaga wins 3 games, Team Point Total is 6 points</h5>
      </div>
      <div class="rules-section">
        <h4>Bonus Points</h4>
        4 Bonus Points if your pick makes the final four.
        16 Bonus Points if your team is the overall winner.
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="game-rules-panel">
      <div class="rules-panel-header">
        <h3><span class='game-num'>Game 2: </span>Daily Survivor</h3>
      </div>

      <div class="rules-section">
        <h4>How To Play</h4>
          Pick 1 team to win each day of the tournament. We'll send you a list to pick from every day of the tournament and you must pick a different team each day (no picking Kentucky on day 2 and on day 3!)
      </div>
      <div class="rules-section">
          <h4>The Spread</h4>
            Spread is determined by a difference in seed. e.g. a 16 seeds gets +15 points against a 1 seed.
            <em>As long as your team wins</em>, you survive. The spread will determine how many bonus points you get, if any.
      </div>
      <div class="rules-section">
          <h4>Strikes</h4>
          If your pick loses, you get a strike.
          3 strikes and you're <span class='serious-words'>eliminated</span> from the pool.
          If you did not to make a pick for a game day before games started, that also counts as a strike.
      </div>
      <div class="rules-section">
        <h4>Bonus Points</h4>
        If your team beats the spread, every additional point also goes to you.
        <h5>e.g. if a 5 seed beats a 7 seed by 10 points, you get 8 points (10 point victory margin minus the 2-point spread)</h5>
        <h5>e.g. if a 7 seed beats a 5 seed by 3 points, you get 5 points (3 point victory margin plus the 2-point spread)</h5>
      </div>
    </div>
  </div>
</div>

<div class="row big-winner">
  <div class="col-sm-12">
    <div class="big-winner-header">
      <h2>
        Overall Winner
      </h2>
    </div>
    <h4>
      Survive the daily game without being eliminated, while winning the most points overall, and <span class="serious-words">win it all!</span>
    </h4>
  </div>
</div>
