<div class="rules-header">
  <h1>
    <img src='MadMarchRunsNav.png' class='inline-logo' >
    Rules and Regulations
  </h1>
</div>

<div class="row game-rules">
  <div class="col-sm-6 first-panel">
    <div class="game-rules-panel">
      <div class="rules-panel-header">
        <h3><span class='game-num'>Game 1: </span>March Runs</h3>
      </div>

    <ol>
      <li>
        Pick 3 teams in the field of 64 that you think will make deep runs.
      </li>
      <li>
        Scoring: 1 Point &times; Seed &times; Wins = Team Point Total (so if #2 seed Gonzaga wins 3 games, that's worth 6 points).
      </li>

      <li>
        <h3>Bonus points:</h3>
        <ol>
          <li>
      Last team standing in the entire pool = 16 point bonus (all ties get the full 16 points).
          </li>
          <li>
      Team reaches final four = 4 point bonus.
          </li>
        </ol>
      </li>
    </ol>
  </div>

  </div>
  <div class="col-sm-6">
    <div class="game-rules-panel">
      <div class="rules-panel-header">
        <h3><span class='game-num'>Game 2: </span>Daily Survivor</h3>
      </div>

      <ol>
        <li>
        Pick ONE TEAM to win against the spread EACH DAY of the NCAA Tourney (we'll send you a link to pick from a menu for each of the 10 days).
        </li>
        <li>
        You can't pick the same team more than once for the entire tourney.
        </li>
        <li>
        The difference in seed serves as the point spread (so a 16 seed gets +15 points against a 1 seed).
        </li>
        <li>
        If your team fails to beat the spread, that's a strike. 3 strikes and you're ELIMINATED from the pool.
        </li>
        <li>
        If a player fails to make a pick (or out of teams), she gets a strike.
        </li>

        <li>
          <h3>Bonus points:</h3>
          <ol>
            <li>
        If your team beats the spread, you get bonus points that equal how many points your pick beat the spread by.
            </li>
          </ol>
        </li>
      </ol>
    </div>

  </div>
</div>

<h2>
  Overall Winner
</h2>
<p>
The player that survives the micro game + accumulates the most points (in both parts of the game) wins the pool. 
</p>
